Data Types and Structures

1. What are data structures, and why are they important?

Data structures are ways to store and organize data so that it can be used efficiently. They help in performing operations like searching, sorting, insertion, and deletion more effectively. Without good data structures, programs can become slow and hard to manage.

2. Explain the difference between mutable and immutable data types with examples.

Mutable data types can be changed after creation. For example, a list can have elements added or removed:

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
my_str = "hello"
my_str[0]='h'

TypeError: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

Lists are mutable, tuples are immutable.

Lists use square brackets [], tuples use parentheses ().

Lists are usually used when we need to change the data; tuples are used when data should stay constant.

4. Describe how dictionaries store data.

Dictionaries store data in key-value pairs. Each key must be unique, and it points to a value. Internally, Python uses a structure like a hash table to store them efficiently.

5. Why might you use a set instead of a list in Python?

A set is useful when we want to store unique items and don’t care about the order. It also allows fast membership checks.

6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters, like "hello". It is immutable. A list can store any type of items and is mutable. Also, strings are usually used for text, while lists can store multiple types of data.

7. How do tuples ensure data integrity in Python?

Since tuples are immutable, once they are created, their content can’t be changed. This helps to keep the data safe from accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally to store and retrieve data efficiently.

9. Can lists contain different data types in Python?

Yes, lists in Python can contain different data types. For example:

In [ ]:
mixed_list = [1, "apple", 3.14, True]
print(mixed_list)

[1, 'apple', 3.14, True]

10. Explain why strings are immutable in Python.

Strings are immutable because once created, their contents cannot be changed. This design improves performance and security, especially when strings are used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries allow fast access to values using keys, which makes them better for tasks like looking up data. In a list, we have to search item by item

12. Describe a scenario where using a tuple would be preferable over a list.

Tuples are better when you want to store fixed data that shouldn’t change, like coordinates (x, y) or configuration settings.

13. How do sets handle duplicate values in Python?

Sets automatically remove duplicate values. If you add a duplicate, it will not be stored again.

14. How does the “in” keyword work differently for lists and dictionaries?

For lists, "in" checks if a value is present. For dictionaries, "in" checks if a key exists, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify elements of a tuple. Tuples are immutable, so their contents can’t be changed once created.

16. What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary where values are also dictionaries.

In [ ]:

student = {
    "name": "John",
    "marks": {
        "math": 90,
        "science": 85
    }
}

print("Student Name:", student["name"])
print("Math Marks:", student["marks"]["math"])
print("Science Marks:", student["marks"]["science"])

Student Name: John
Math Marks: 90
Science Marks: 85

17. Describe the time complexity of accessing elements in a dictionary.

Accessing elements in a dictionary is usually O(1), which means it's very fast due to the use of hash tables.

18. In what situations are lists preferred over dictionaries?

Lists are better when order matters, or when you need to store simple collections of data without key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries before Python 3.7 were unordered, meaning the order of items wasn't guaranteed. Now they preserve insertion order, but still, data is retrieved by key, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

In a list, we use indexes (like 0, 1, 2) to access data. In a dictionary, we use keys (like 'name', 'age') to get values.

Practical Questions – Assignment Answers

1. Write a code to create a string with your name and print it

In [ ]:
my_name = "Kumar Patil"
print(my_name)

Kumar Patil

2. Write a code to find the length of the string "Hello World"

In [ ]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
word = "Python Programming"
print(word[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [ ]:
text = "hello"
print(text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
nums = (10, 20, 5, 15)
print(min(nums))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
nums = {1, 2, 3, 4}
nums.remove(4)
print(nums)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
info = {"name": "Amit", "age": 21, "city": "Pune"}
print(info)

{'name': 'Amit', 'age': 21, 'city': 'Pune'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
data = {'name': 'Alice', 'age': 30}
print(data["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
info = {'name': 'Alice', 'city': 'Paris'}
print("city" in info)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [ ]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {"name": "Rahul", "age": 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'Rahul', 'age': 20}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [ ]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[12, 16, 59, 73, 100]

28. Write a code to create a list with strings and print the element at the third index

In [ ]:
words = ["apple", "banana", "cherry", "date", "kiwi"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set

In [ ]:
fruits = ["apple", "banana", "apple", "orange"]
fruit_set = set(fruits)
print(fruit_set)

{'apple', 'orange', 'banana'}